.grid-33
    .app--section
        ul.app--user--list
          each follower in followers
            li
              .circle--fluid
                .circle--fluid--cell.circle--fluid--primary
                  a.app--tweet--author
                    .app--avatar(style='background-image: url(#{follower.image})')
                    |                   
                    h4 #{follower.name}
                    |                   
                    p #{follower.sname}
                |               
                .circle--fluid--cell
                  if follower.following
                    a.button.button-text Unfollow
                  else
                    a.button Follow