.grid-33
    .app--section
        ul.app--user--list
          each follower in followers
            li
              .circle--fluid
                .circle--fluid--cell.circle--fluid--primary
                  a.app--tweet--author
                    .app--avatar(style='background-image: url(images/f-spore.png)')
                      img(src='images/f-spore.png')
                    |                   
                    h4 #{follower.name}
                    |                   
                    p #{follower.sname}
                |               
                .circle--fluid--cell
                  a.button.button-text Unfollow
                  a.button Follow