doctype html
html(lang="en")
  head
    title Tweet App
    link(rel='stylesheet', href='css/main.css')
  body
    div
      header
        h1 Twitter - API
        a(href='/auth/twitter')
          img(src='images/sign-in-with-twitter-gray.png')